{% extends "grades/base.html" %}
{% block content %}
    <div class="about-text">
        <div class="about-text-backone">
        </div>
        <div class="about-text-backtwo">
        </div>
        <div class="about-title">
            <p>about us</p>
        </div>
        <div class="about-content">
            <p>Better Grade Tracker is a way for students to keep track of how they're doing in classes without
                the extra hassle of creating their own Excel spreadsheets or re-calculating each time
                they want to know their grade. Simply
                create an account, add your classes and their grading schemes, and insert your grades, and you'll
                be able to see your current projected grade. Happy studying! :)</p>
        </div>
    </div>
{% endblock content %}
