{% extends "grades/base.html" %}
{% block content %}
    {% if assessments_list %}
        {% for assessment in assessments_list %}
            <div class = "assessment-marks {% cycle 'blue-mark' 'red-mark' 'yellow-mark' %}">
                <h2 class="assessment-name">{{ assessment.name }}</h2>
                <p class="assessment-mark">{{ assessment.mark }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <a href="{% url 'grades-new-assessment' course_id bin_id %}">New Assessment</a>
{% endblock content %}
