{% extends "grades/base.html" %}
{% block content %}
    {% if assessments_list %}
        {% for assessment in assessments_list %}
            <div class = "assessment-marks {% cycle 'blue-mark' 'red-mark' 'yellow-mark' %}">
                <div class="assessment-name">{{ assessment.name }}</div>
                <div class="assessment-mark">{{ assessment.mark }}</div>
            </div>
        {% endfor %}
    {% endif %}
    <div class ="text-center">
        <a class = "new-assessment" href="{% url 'grades-new-assessment' course_id bin_id %}">New Assessment</a>
    </div>
{% endblock content %}
