{% extends "grades/base.html" %}
{% block content %}
    <h1 class="text-center">Courses</h1>
    <div class="row">
        {% if courses_list %}
            {% for course in courses_list %}
                <div class="col-md-4 col-lg-4 col-sm-12 d-flex align-items-stretch">
                    <div class="card">
                        <a href="base.html">
                            <div class="card-body {% cycle 'blue-card' 'red-card' 'yellow-card' %}">
                                <h2 class="card-title display-1"><strong>{{ course.name }}</strong></h2>
                                <p class="card-text">
                                    100%
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}


    </div>
{% endblock content %}