{% extends "grades/base.html" %}
{% block content %}
    <div class="page-title">{{ course_name }}</div>
    {% if bins_list %}
        {% for bin in bins_list %}
            <div class = "course-assessments {% cycle 'blue-mark' 'red-mark' 'yellow-mark' %}">
                <h2 class="course-name"><a href="{% url 'grades-assessment' bin.course.pk bin.pk %}">{{ bin.name }}</a></h2>
                 <p class="course-assessment-grade">
                    {% for key, value in bins_dict.items %}
                        {% if key == bin.pk %}
                            {{ value }}
                        {% endif %}
                    {% endfor %}%
                 </p>
            </div>
        {% endfor %}
    {% endif %}
    <div class="extrawrapper1 text-center">
        <a class="new-category" href="{% url 'grades-new-bin' course_id %}">New Category</a>
    </div>
    <div class="extrawrapper text-center">
        <form action="{% url 'grades-course' course_id %}" method="post" >
            {% csrf_token %}
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
        </form>
    </div>

{% endblock content %}