{% extends "grades/base.html" %}
{% block content %}
    <div class="page-title">
        courses
    </div>

    <div class="courses">
        {% if courses_list %}
            {% for course in courses_list %}

                    <a href="{% url 'grades-course' course.pk %}">
                        <div class="card-body {% cycle 'blue-card' 'red-card' 'yellow-card' 'red-card' 'yellow-card' 'blue-card' %}">
                            <a href="{% url 'grades-course' course.pk %}">
                                <img src="http://dummyimage.com/50x50/000/fff.gif&text=50x50" class="sq-setter-w"/>
                                <h2 class="card-title display-1"><strong>{{ course.name }}</strong></h2>
                                <p class="card-text">
                                    100%
                                </p>
                            </a>
                        </div>
                    </a>

            {% endfor %}
        {% endif %}


        <div class="card-body red-card">
            <a href="{% url 'grades-new-course'%}">
                    <img src="http://dummyimage.com/50x50/000/fff.gif&text=50x50" class="sq-setter-w"/>
                    <h2 class="card-title display-1"><strong>Add new course</strong></h2>

            </a>
        </div>

    </div>
{% endblock content %}