{% extends "grades/base.html" %}
{% block content %}
    <div class="page-title">
        courses
    </div>

    <div class="courses">
        {% if courses_list %}
            {% for course in courses_list %}
                <a href="{% url 'grades-course' course.pk %}">
                    <div class="card-body course-card {% cycle 'blue-card' 'red-card' 'yellow-card' %}">
                        <img src="http://dummyimage.com/50x50/000/fff.gif&text=50x50" class="sq-setter-w"/>
                        <h2 class="card-title display-1"><strong>{{ course.name }}</strong></h2>
                        <p class="card-text">
                            {% for key, value in courses_dict.items %}
                                {% if key == course.pk %}
                                    {{ value }}
                                {% endif %}
                                {% endfor %}%
                        </p>
                    </div>
                </a>
            {% endfor %}
        {% endif %}

        <a href="{% url 'grades-new-course'%}">
            <div class="card-body course-card red-card">
                    <img src="http://dummyimage.com/50x50/000/fff.gif&text=50x50" class="sq-setter-w"/>
                    <h2 class="card-title display-1"><strong>New course</strong></h2>
            </div>
        </a>

    </div>
{% endblock content %}