{% extends "grades/base.html" %}
{% block content %}
    <div class="faq-header">
        <p class="page-title">frequently asked questions</p>
    </div>

     <div id="accordion">
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseOne">
              Why do you need my email?
            </a>
          </div>
          <div id="collapseOne" class="collapse" data-parent="#accordion">
            <div class="card-body">
              We use your email solely to allow you to reset your password if you forget it. If you feel uncomfortable
                giving your real email, feel free to use a burner email.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                Who made this?
          </a>
          </div>
          <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
              Three university students :)
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
              What's coming for the future?
            </a>
          </div>
          <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="card-body">
              Lots of new features! Not limited to: easier input of grading schemes, being able to see all your grades
                at the same time, and an improved delete function.
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
