{% extends "grades/base.html" %}


{% block content %}
    <p>Home</p>
    <div class="home-section" style = "background-color:red;">
        <div class="home-text">
            <div class="home-welcome">
                <p style="font-size:500px;">Welcome to Better Grades Tracker!</p>
            </div>
            <div class="home-about">
                We're here to help you track your grades idk man
            </div>
        </div>

        <div class="home-image">

        </div>
    </div>
{% endblock content %}


