{% extends "grades/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="page-title">add a new assessment</div>
          <form action="{% url 'grades-new-assessment' course_id bin_id %}" method="post" >
          {% csrf_token %}
                <div class="login-fields">
                    {{ form|crispy }}
                </div>

                <div class="text-center">
                    <button class="btn btn-outline-info login-btn" type="submit">Submit</button>
                </div>

          </form>
{% endblock content %}
