{% extends "grades/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="page-title">add a new category</div>

      <form action="{% url 'grades-new-bin' course_id %}" method="post" >
      {% csrf_token %}

            <div class="login-fields">
                {{ form|crispy }}
            </div>

        <div class="text-center">
            <button class="btn btn-outline-info login-btn" type="submit">Submit</button>
        </div>

      </form>
{% endblock content %}
