{% extends "grades/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="page-title">add a course</div>

        <form action="{% url 'grades-new-course' %}" method="post" >
        {% csrf_token %}

            <div class="login-fields text-center">
                {{ form|crispy }}
            </div>

        <div class="text-center">
            <button class="btn btn-outline-info login-btn" type="submit">Add new course</button>
        </div>

      </form>
{% endblock content %}
