{% extends "grades/base.html" %}
{% block content %}
    <div class="page-title">add a course</div>

        <form action="{% url 'grades-new-course' %}" method="post" >
        {% csrf_token %}

        <div class="login-fields">
            {{ form }}
        </div>

      </form>

        <div class="text-center">
            <small class="login-bottom-txt">
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
                <p>Need an account? <a href="{% url "register" %}">Sign Up</a></p>
            </small>
        </div>
{% endblock content %}
