/* Multiple */
.page-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding: 25px;
}

/* nav bar */

.navbar {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    background-color: #F76C6C;
}

.nav-link {
    margin-right: 20px;
    margin-left: 20px;
}

.container-fluid {
    width: 80%;
}



/* home */

.home-text-backone {
    border-color: #F76C6C;
    border-width: 10px;
    border-style: solid;
    z-index: -1;
    position: absolute;
    box-sizing: border-box;
    right: 80px;
    top: 80px;
    width: 100%;
    height: 100%;
}

.home-text-backtwo {
    border-color: #F8E9A1;
    border-width: 10px;
    border-style: solid;
    z-index: -1;
    position: absolute;
    left: 80px;
    bottom: 80px;
    box-sizing: border-box;
    width: 100%;
    height: 100%
}

.home-welcome {
    font-size: 50px;
    font-weight: 600;
    margin-top: 100px;
    width: 100%;
}

.home-text {
    padding: 25px;
    background-color: #A8D0E6;
    font-family: 'Roboto Mono', monospace;
    margin-top: 180px;
    width: 65%;
    float: right;
    position: relative;
}

.home-about {
    font-weight: 400;
}


/* courses */

.courses {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: auto;
}

@media(max-width: 800px) {
    .courses {
        grid-template-columns: 50% 50%;
    }
}

@media(max-width: 620px) {
    .courses {
        grid-template-columns: 100%;
    }
}

.red-card {
    position: relative;
    padding: 20px;
    width: 90%;
    margin: 20px auto auto;
    height: auto;
    display: inline-block;
    background-color: #f76c6c;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.blue-card {
    position: relative;
    padding: 20px;
    width: 90%;
    margin: 20px auto auto;
    height: auto;
    display: inline-block;
    background-color: #a8d0e6;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.yellow-card {
    position: relative;
    padding: 20px;
    width: 90%;
    margin: 20px auto auto;
    height: auto;
    display: inline-block;
    background-color: #f8e9a1;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.sq-setter-w {
    width: 100%;
    height: auto;
    visibility: hidden;
}

.card-body a {
    text-decoration: none;
}

.card-text {
    position: absolute;
    z-index: 1;
    right: 20px;
    bottom: 20px;
    text-align: right;
    font-size: 15px;
}

.card-title.display-1 {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    font-size: 50px;
}

.red-text {
    color: #F76C6C;
}


/* faq */

.faq-header {
    padding: 25px 25px 0px;
}

.card {
    width: 80%;
    margin: 50px auto auto;
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    border-color: #A8D0E6;
    border-width: 3px;
}

.card-header {
    background-color: white;
    border-color: #A8D0E6;
    border-width: 3px;
}

/* about */

.about-text-backone {
    border-color: #F76C6C;
    border-width: 10px;
    border-style: solid;
    z-index: -1;
    position: absolute;
    box-sizing: border-box;
    left: 50px;
    top: 50px;
    width: 100%;
    height: 100%;
}

.about-text-backtwo {
    border-color: #F8E9A1;
    border-width: 10px;
    border-style: solid;
    z-index: -1;
    position: absolute;
    right: 50px;
    bottom: 50px;
    box-sizing: border-box;
    width: 100%;
    height: 100%
}

.about-title {
    font-size: 50px;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

.about-content {
    padding: 25px;
    line-height: 1.8;
}

.about-text {
    padding: 25px;
    background-color: white;
    font-family: 'Roboto Mono', monospace;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
    border-color: #A8D0E6;
    border-width: 10px;
    border-style: solid;
}

/* Login / Logout / Forms */
.login-fields {
    font-family: 'Roboto Mono', monospace;
    width: 65%;
    margin: auto;
}


.login-again a {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    size: 17px;
}

.login-btn {
    margin-top: 25px;
    text-align: center;
    padding-left: 50px;
    padding-right:50px;
    font-family: 'Roboto Mono', monospace;
    border-color: #A8D0E6;
    border-width: 3px;
    color: #A8D0E6;
    margin-bottom: 10px;
}

.login-btn:hover {
    border-color: #A8D0E6;
    background-color: #A8D0E6;
    border-width: 3px;
    color: #F76C6C;
}

.login-btn:active {
    border-color: #F76C6C;
    background-color: #A8D0E6;
    color: #F76C6C;
}

.login-btn:focus {
    border-color: #F76C6C;
    background-color: #A8D0E6;
    color: #F76C6C;
}

.login-bottom-txt {
    font-family: 'Roboto Mono', monospace;
    margin-top: 10px;
}

a {
    color: #F76C6C;
}

a:hover {
    color: #f8e9a1;
}

/* Assessment */
.assessment-marks {
    font-family: 'Roboto Mono', monospace;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 80% 20%;
    width: 60%;
    margin: auto;
}

.red-mark {
    border-bottom: 3px solid #f76c6c;
}

.blue-mark {
    border-bottom: 3px solid #a8d0e6;
}

.yellow-mark {
    border-bottom: 3px solid #f8e9a1;
}

.assessment-mark {
    text-align: right;
    font-size: 25px;
}

.assessment-name {
    text-align: left;
    font-size: 35px;
}

.new-assessment {
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    padding-top: 20px;
    margin: 20px auto;
}

/* Course */
.course-assessments{
    text-decoration: none;
    text-align: left;
    font-size: 35px;
    font-family: 'Roboto Mono', monospace;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60%;
    margin: auto;
}

.course-name {
    text-decoration: none;
}

.new-category {
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    margin: 20px auto;
}

.extrawrapper1 {
    padding-top: 20px;
}