{% extends "grades/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend>Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <button type="submit">Log In</button>
        <small>
            <a href="{% url 'password_reset' %}">Forgot Password?</a>
        </small>
    </form>
    <small class="text-muted">
        Need an account? <a href="{% url "register" %}">Sign Up</a>
    </small>
{% endblock content %}
