{% extends "grades/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend class="page-title">Reset Password</legend>
            <div class="login-fields">
                {{ form|crispy }}
            </div>
        </fieldset>
        <div class="text-center">
            <button class="btn btn-outline-info login-btn" type="submit">Request Password Reset</button>
        </div>
    </form>
{% endblock content %}
